{{!-- Page to display error when Organ matches are not available. --}}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/home">Donor.Me</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/waitlistKidney">Kidney WaitList</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/waitlistHeart">Heart WaitList</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/waitlistLiver">Liver WaitList</a>
      <li class="nav-item">
        <a class="nav-link" href="/listMatches"> Organ Match Log</a>
      </li>
      </li>
    </ul>
  </div>
  <button onclick="logout()" class="btn btn-primary" style="float:right; display:block; margin-right:0px; clear:left;"
    type="submit">Logout</button>
</nav>

<br>
<div class="container-fluid" id="container2">
  <h1 class="text-center">{{title}}</h1>
  <br>
  <h3 class="text-center">{{message}}</h3>
</div>