{{!-- Page to display latest block created, and option to search using Transaction ID
and view Transaction Receipt Data. --}}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/home">Donor.Me</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/listPatients">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/registerPatient">Register Patient</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/listPatients">Patient List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/registerDonor">Register Donor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/listDonors">Donor List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/editDonor">Edit Donor</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/listBlocks"> Block List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/listBatches"> Batch List</a>
      </li>
    </ul>
  </div>
  <button onclick="logout()" class="btn btn-primary" style="float:right; display:block; margin-right:0px; clear:left;"
    type="submit">Logout</button>
</nav>
<br>
<div class="container" id="container2">
  <h1 class="text-center">{{title}}</h1>
  <br>
  <table id="blockList" class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Block Number</th>
        <th>Transaction ID</th>
      </tr>
    </thead>
    <tbody>
      {{#listings}}
      <tr class="">
        <td>{{blockNum}}</td>
        <td>{{transactionID}}</td>
      </tr>
      {{/listings}}
    </tbody>
  </table>
</div>
<br><br>
<div class="container" id="container1">
  <div class="card text-center">
    <div class="card-header">
      <h2>{{title2}}</h2>
    </div>
    <div class="card-body">
      <form action="/txnReceipt" target="iframe_a" method="POST" style="text-align:center">
        <label for="txnID"><strong>Transaction ID</strong></label>
        <input type="text" class="form-control" name="txnID" placeholder="Enter Transaction ID">
        <br>
        <button type="submit" class="btn btn-primary" id="txnID">Show Details</button>
        <button type="reset" class="btn btn-default" style="background-color: rgb(28, 163, 152); color: white;">
          Clear
        </button>
      </form>
      <br>
      <div class="embed-responsive embed-responsive-4by3" style="height: 40px;">
        <iframe class="embed-responsive-item" height="25%" width="50%" id="iframe_a" name="iframe_a"></iframe>
      </div>
    </div>
  </div>
</div>
<footer class="footer bg-dark" style="text-align: center; position:relative; bottom: 0; width:100%; font-size:1.4em " >
  <div class="container">
    <br>
    <span class="text-light">Lists Block Number and Transaction IDs of last committed block.</span>
    <br>
    <span class="text-light">Search using Transaction ID listed to view Transaction Receipt.</span>
   <br><br>
  </div>
</footer>